doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')

    body
        div
            h1(class='display-inline-right')= title
            h5 USERNAME
            input(class='form-control width-thirty' id='username')
            h5 PASSWORD
            input(class='form-control width-thirty' id='password' type='password')
            button(class='btn btn-default' id='login') LOGIN
            h6(id='msg' class='display-inline')

    script(src='/javascripts/jquery.js', type='text/javascript')
    script(src='/javascripts/login.js', type='text/javascript')
